.box1{
  padding: 10px;
}

.minimal{
  width: auto;
  margin: 10px;
  cursor: pointer;
}

.box4{
  display: flex;
}

.box4 label {
  margin-left: 15px;
  margin-top: 18px;
  font-family: 'Hubballi', cursive;
  font-size: 20px;
}

.box4 button {
  margin: 10px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  padding: 10px;
  font-family: 'Hubballi', cursive;
}
