.container{
    padding-top: 1px;
    box-shadow: 0 2px 10px rgba(86,86,86,0.25);
    border-radius: 10px;
}
.container:hover{
    box-shadow: 0 2px 10px rgba(86,86,86,0.25);
    transform: scale(1.02);
}
.h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 500;
}
.spancontainer{
    border-radius: 0 0 10px 10px;
    position: absolute;
    width: 265px;
    height: 230px;
    color: transparent;
}
.spancontainer:hover{
    font-size: 13px;
    font-weight: 500;
    color: black;
    background-color: white;
}
.p{
    text-align: center;
    padding: 60px 10px 0;
    position: relative;
    font-size: 12px;
}
.img{
    display: block;
    margin: 0;
    height: 230px;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
}

.link{
    z-index: 2;
    text-decoration: none;
    color: black;
}

.container2{
    width: 79%;
    display: inline-block;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}