@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap');
/* Container */
.container{
    margin: 20px;
    display: flex;
    justify-content: space-around;   
}
.title{
   font-size: 4em; 
   letter-spacing: -1px; 
   color: #DFBF84; 
   text-transform: uppercase; 
   text-shadow: 2px 2px 0 #000; 
   margin: 10px 0 24px; 
   text-align: center; 
   line-height: 50px;
    
}
/* Form */
.form{
    padding: 10px 40px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 5px green;
    margin: auto;
}

input, select{
    margin: 7px 0 10px;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid #607D8B;
    width: 96%;
    font-size: 14px;
    font-family: 'Hubballi', cursive;
}

span{
    color: black;
    font-family: 'Hubballi', cursive;
    font-size: 20px;
}

h2{
    padding: 10px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    color: #212121;
}

.message{
    margin-left: 10px;
    font-size: 11px;
    color: #F44336;
    border-left: 3px solid green;
    padding-left: 10px;
    font-family: 'Prompt', sans-serif;
}

.summitbutton{
    margin: 20px 0;
    background-color: #43A047;
    font-size: 18px;    
    font-weight: 600;
    color: white;
    width: 100%;  
    height: 40px;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
}
.tempsBox{
    margin-top: 10px;
    display: block;
    padding: 20px;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: auto;
}

.tempAdd{
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px green;
    margin: auto;
    padding: 5px; 
}
.tempAdd span{
    margin-left: 25px;
    padding: 10px;
    margin-top: 5px;
    color: black;
}
.tempAdd button{
    width: 15px;
    position: absolute;
    border: none;
    border-radius: 9px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    color: red;
}